app = "qnet-demo"
[build]
  dockerfile = "Dockerfile"
[env]
  QNET_DB="/app/qnet_financial.db"
[[services]]
  internal_port = 8000
  processes = ["app"]
  protocol = "tcp"
  [[services.ports]]
    handlers = ["http"]
    port = 80
